.target-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 3fr 10fr 3fr;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

button {
    width: 100%;
    text-align: center;
    margin: none;
    padding: none;
}

.target-head {
    grid-area: 1 / 1 / span 1 / span 3;
}

.target-number {
    grid-area: 2 / 2 / span 1 / span 1;
} 